<h1>User Profile </h1>
<p>Hi, <%= @user.username %> </p>

<h2>Events you have created!</h2>
<ul>
    <% if @events.any? %>
        <% @events.each do |event| %>
            <li>
                <%= link_to event.title, event %>
                <% event.created_at.to_formatted_s(:long) %>
            </li>
        <% end %>
    <% else %>
        <p><%= @user.email %> hasn't created any events yet.</p>
    <% end %>
</ul>


<h2>Events you have attended!</h2>
<ul>
    <% if @attends.any? %>
        <% @attends.each do |event| %>
            <li>
                <%= link_to event.title, event %>
                <% event.created_at.to_formatted_s(:long) %>
            </li>
        <% end %>
    <% else %>
        <p><%= @user.email %> hasn't attended any events yet!</p>
    <% end %>
</ul>