<nav>
    <h1>An Events World</h1>
        <div>
            <% if user_signed_in? %>
                <p>Hi, <strong><%= current_user.email %></strong>!</p>
                <%= button_to 'logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %><br>
                <%= link_to 'Create New Event', new_event_path%>
            <% else %>
                <p> <%= button_to "Log in", new_user_session_path %></p>
                
                <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %> 
            <% end %>
    </div>
</nav>

<div>
    <div>
        <h2>Upcoming Events</h1>
    </div>

    <% if @events.any? %>
        <% @events.each do |event| %>
            <h2><%= link_to event.title, event %></h2>
            <span>Created by: <%= event.creator.email %></span>

            <p><%= truncate(event.desc, length: 150) %></p>

            <div>
                <%= link_to 'View Details', event %>
                <% if user_signed_in? && current_user == event.creator %>
                    <%= link_to 'Edit', edit_event_path(event) %>
                <% end %>
            </div>
        <% end %>
    <% else %>
        <div>
            <p>No events found.</p>
            <%= link_to 'Create your first event', new_event_path%>
        </div>
    <% end %>
</div>
