<div class="event-details">
    <h1><%= @event.title %></h1>

    <div class="event-meta">
        <p><strong>Brought to you by: </strong> <%=@event.creator.email %></p>
        <p><strong>Date: </strong> <%=@event.date.strftime("%B %d, %Y at %I:%M %p ")%></p>
    </div>

    <div class="event-description">
        <h3>Description</h3>
        <p><%= @event.desc%></p>
    </div>

    <div class="location">
        <h3>location</h3>
        <p><%= @event.location%></p>
    </div>

    <% if current_user != @event.creator && !@event.attendees.include?(current_user) %>
        <%= form_with url: event_attendings_path, method: :post do |f| %>
            <%= hidden_field_tag :event_id, @event.id %>
            <%= hidden_field_tag :event_attendee_id, current_user.id%>
            <%= f.submit "Attend the event" %>
        <% end %>
    <% else %>
        <div>You have registered for the event.</div>
    <% end %>

    <h4>The following users have registered for the event.</h4>
    <p><%= pluralize(@event.attendees.count, "attendee") %></p>

    <% if @event.attendees.any? %>        
        <% @event.attendees.each do |attendee| %>
            <ul>
                <li>
                    <%= link_to attendee.username,attendee %>
                    
                </li>
            </ul>
        <% end %>        
    <% else%>
        <p>No attendees yet!</p>
    <% end %>


    <% if current_user == @event.creator %>
        <div class="event-action">
            <%= link_to 'Edit Event', edit_event_path(@event), class: 'btn btn-primary' %>
            <%= link_to 'Delete Event', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
    <% end %>

    <%= link_to 'Back to Events', events_path, class: 'btn btn-secondary'%>
</div>